.article {

  @media screen and (min-width: 640px) {
    text-align: center;
  }

  @media screen and (min-width: 830px) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    height: 100vh;
    min-height: 789px;
    // max-height: 800px;
  }

  & > img {
    width: 100%;
  }

}